<table id="about_table" class="table table-success table-details">
                            
    <tbody>
      <tr>
        <th scope="row"><h4>الاسم</h4></th>
        <td><h5>{{about.name}}</h5> </td>  
      </tr>
   
      <tr>
        <th scope="row"> <h4>رقم الهاتف 1</h4></th>
        <td><h5>
            {% if about.phone1 %}
            {{about.phone1}}
            {% else %}
            <h5>لا يوجد</h5>
            {% endif %}
        </h5></td>
      </tr>

      <tr>
        <th scope="row"><h4>رقم الهاتف 2</h4></th>
        <td><h5>
            
            {% if about.phone2 %}
            {{about.phone2}}
            {% else %}
            <h5>لا يوجد</h5>
            {% endif %}
                
        </h5></td>
      </tr>
      
   
    </tbody>
  </table>