{% extends 'base.html' %}


{% block content %}
   



<div style="direction: rtl;" class="wrapper">
    <div   class="content-wrapper p-5">
          <section class="content">                  
            <div class="card card-solid">
                <div class="row d-flex align-items-stretch">
                  <div   class="col-12 p-3">

                    

                    <div id="client-info">
                      <h5>فاتوره باسم:  <a href="{% url 'products:show-client' order.client.id %}">{{order.client}}</a></h5>
                      <h6>رقم الهاتف:  {{order.client.phone}}</h6>
                    </div>

                    <h6>رقم الفاتوره:  {{order.transaction_id}}</h6>
                    <h6>التاريخ:  {{order.date_ordered}}</h6>
                    <h6>حاله الفاتوره:  

                      {% if order.complete %}
                      <span class="bill_state">
                        <span class="state">
                          مغلقه
                        </span>
                        <small class="state_icon"><i class="fas fa-lock"></i></small>
                        </span>
                        
                        {% else %}
                      
                        <span class="bill_state">
                          <span class="state" style="color: #4ee14e;">
                            مفتوحه
                          </span>
                          <small class="state_icon"><i class="fas fa-lock-open"></i></small>
                        </span>
                        
                        {% endif %}
                    </h6> 
                    <hr>
                    <button class="btn btn-info mb-5 bill-btn-info edit-client"  hx-target="#client-info" hx-swap="innerHTML" hx-post="{% url 'products:user-bill-form' order.id %}">
                      تعديل بيانات العميل
                    </button>
                    <a class="btn btn-info mb-5 bill-btn-info" href="{% url 'products:another-bill' order.client.id %}">
                      فاتوره جديده لهذا العميل
                    </a>
                    <a class="btn btn-info mb-5 bill-btn-info" href="{% url 'products:generate_bill' order.id %}">
                      تقفيل الفاتوره
                    </a>
                    
                    <a class="btn btn-info mb-5 bill-btn-info delete-bill" href="#">
                      حذف الفاتوره
                    </a>

                    
                    <table class="table bill-table text-center">
                      
                        <thead>
                          <tr>
                            <th scope="col"></th> 
                            <th scope="col">المنتج </th>
                            <th scope="col">الكميه</th> 
                            <th scope="col">المجموع الفرعي</th>
                            <th scope="col"></th> 
                          </tr>
                        </thead>
                        
                        <tbody id="appendformhere">
     
                                {% for line in lines %}
                                  {% include "partials/line_detail.html" %}                                  
                                {% endfor %}
                          
                        </tbody>
                        
                    </table>
                     

                    <!-- <div id=""></div> -->

                    <button class="btn btn-info mt-5 w-100 update-bill" hx-get="{% url 'products:line-form' %}" hx-swap="beforeend" hx-target="#appendformhere">
                      اضف منتج الى الفاتوره
                    </button>

                  </div>

                  <div   class="col-12 p-3">
                    <div class="total">
                      <h6 class="total-bill"> سعر الفاتوره: {{order.get_bill_total}}</h6>
                    </div>
                    <div class="remaining">
                      <h6 class="client_remaining"> رصيد ما قبله:  {{order.remaining_atthattime}}</h6>
                    </div>

                    <div class="total+2">
                      <h6>الاجمالى:  <span class="total2"></span></h6>
                    </div>
                    <div class="main_paid">
                      <h6>تم دفع:  <span class="paid">{{order.paid}}</span></h6>
                    </div>
                    <div class="still+">
                      <h6>مازال:  <span class="still"></span></h6>
                    </div>
                    <hr>
                    <div class="remaining_atthattime">
                      <small> الرصيد المتبفى على العميل قبل انشاء هذه الفاتوره:  {{order.remaining_atthattime}}</small>
                    </div>
                    <div class="payment">
                        <form>
                          <label class="paid_erorr"></label>
                          <input class="paid_value form-control mb-3" type="number" placeholder="الدفع">
                          <button class="btn btn-info paid_btn">ادفع</button>
                        </form>
                    </div>
                  </div>
            
          </section>
        </div>
    </div>




{% endblock %}
{% block javascript %}
<script>


  

  //will store order&client >> id in variables because will need it in client detail page 
  var order_id = "{{order.id}}",
      client_id = "{{order.client.id}}",
      bill_paid = "{{order.paid}}",
      fbill_paid = parseFloat(bill_paid.replace(",", ".")),
      t = "{{order.get_bill_total}}",
      cr = "{{order.remaining_atthattime}}",
      t2 = parseFloat(t.replace(",", ".")) + parseFloat(cr.replace(",", ".")),
      p = "{{order.paid}}",
      still =  t2 - parseFloat(p.replace(",", "."));
  $(".total2").text(t2)
  $(".still").text(still)



  $(".delete-bill").on("click", function(e){
    e.preventDefault()
    confirmResult = confirm("هل تريد حذف الفاتوره ؟")
    if(confirmResult){
      window.location.href = "{% url 'products:delete-bill' order.id %}"
    }

  })

  $(document).ready(function(){  // Payment
  $(".paid_btn").on("click", function(e){
    e.preventDefault()
    var f = $(".paid_value").val();
    paid_value = parseFloat(f.replace(",","."));

    if( isNaN(paid_value) ){
      $(".paid_erorr").text("من فضلك ادخل المبلغ المدفوع").css("color","red")
    }
    else if( paid_value < 0 ){
      $(".paid_erorr").text("يجب ان تكون قيمه اكبر من الصفر").css("color","red")
    }
    else{
      $(".paid_erorr").text("")
      $.ajax({
        url:'{% url "products:payment" %}',
        dataType:'json',
        data:{
          'order_id':order_id,
          'paid_value':paid_value,
        },
        success:function(data){
          $(".still").text(data["still"])
          $(".paid").text(data["bill_paid"])
          $(".paid_erorr").text("تم دفع مبلغ بقيمه "+ data["bill_paid"] + " ج.م").css("color","green")
          $(".paid_value").val("")
          if(!data["bill_state"]){
            $(".state").text(`مفتوحه`).css("color","#4ee14e")
            $(".state_icon .fa-lock").replaceWith('<i class="fas fa-lock-open"></i>')
          }
        },
      }) 
    }
    
    
  })
  })
</script>

<!-- scroll auto to ....... -->
<script>
    var btn = document.querySelector(".update-bill"),
        editClientBtn = document.querySelector(".edit-client");
    btn.onclick = function(){
      var scrolltobottom = document.body.scrollHeight-200;
      setTimeout(function(){
        window.scrollTo(0,scrolltobottom-400)
      },200)
    }
    editClientBtn.onclick = function(){
        window.scrollTo({
          top:0,
          behavior:"smooth",         
        })
    }
</script>



{% endblock javascript %}