{% load crispy_forms_tags %}
<!-- style="width: 131.6% !important;" -->

<div class="mt-4 mb-4 new-line-form" hx-target="this" hx-swap="outerHTML">
    <form method="post">
        {% csrf_token %}
        <!-- {{form.as_table}} -->
        {{form|crispy}}
        
        {% if line %}
        <button hx-post="{% url 'products:update_incomline' line.id %}" class="btn btn-info">تعديل</button>   
        
        <button hx-get="{% url 'products:detail_incomline' line.id %}" type="button"
        class="btn edit-cancel">
        تراجع
        </button>
        {% else %}
         <button hx-post="." class="btn btn-info ">اضافه</button>  
         
         <button type="button"
         class="btn-hide-new-line-form btn">
         تراجع
         </button> 

        {% endif %}
    </form>
</div>

<script>

    $(".btn-hide-new-line-form").on("click",function(){
        $(this).parent().parent().hide()
    })
</script>






