<div class="incombill_info">
    <div class="seller">
        <h5> التاجر: {{incombill.seller}}</h5>
      </div>
      <div class="total">
        <h5> سعر الفاتوره: {{incombill.total}}</h5>
      </div>
      <div class="remaining">
        <h5> رصيد ما قبله: {{incombill.remaining_money}}</h5>
      </div>
      <div class="remaining">
        <h5> الاجمالى: {{incombill.total2}}</h5>
      </div>
      <div class="main_paid">
        <h5>تم دفع: {{incombill.paid}}</h5>
      </div>
      <div class="still">
        <h5>مازال: {{incombill.still}}</h5>
      </div>
</div>