{% load crispy_forms_tags %}
<!-- style="width: 131.6% !important;" -->

<div class="mt-4 mb-4 new-line-form" hx-target="this" hx-swap="outerHTML">
    <form method="post">
        {% csrf_token %}
        <!-- {{form.as_table}} -->
        {{form|crispy}}
        
        {% if line %}
        <button hx-post="{% url 'products:update-line' line.id %}" class="btn btn-info">تعديل</button>   
        
        <button hx-get="{% url 'products:detail-line' line.id %}" type="button"
        class="btn edit-cancel">
        تراجع
        </button>
        {% else %}
         <button hx-post="." class="btn btn-info ">اضافه</button>  
         
         <button type="button"
         class="btn-hide-new-line-form btn">
         تراجع
         </button> 

        {% endif %}
    </form>
</div>

{% if product_qty_available >= 0 %}
<div  class="alert not_enough_alert text-left" role="alert">
    <h5>كميه المنتج لا تكفى</h5>
    يتوفر ( {{product_qty_available}} ) قطعه      
    <a href="#" data-dismiss="alert" class="close close-x" aria-label="close">x</a>
</div>
{% endif %}
    


<!-- cancel adding new line form -->
<script>
    //setTimeout(function(){ $(".alert").hide()}, 5000)

    $(".btn-hide-new-line-form").on("click",function(){
        $(this).parent().parent().hide()
    })
</script>






