
        <tr hx-target="this" hx-swap="outerHTML">
            <td scope="col" class="updatebtn"><button hx-post="{% url 'products:update-line' line.id %}" class="btn btn-info">تعديل</button></td>

            <td scope="col" class="table_title">{{line}} </td>
            <td scope="col" class="qty">{{line.quantity}}</td>
            <td scope="col" class="subtotal-line">{{line.get_total}}</td>

            
            <td scope="col" class="deletebtn"><button hx-post="{% url 'products:delete-line' line.id %}" class="btn btn-info"><i class="fas fa-trash"></i></button></td>
        </tr>
        
        