




{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  
  {% comment %}
    
  {% endcomment %}
    

    <div style="direction: rtl;" class="wrapper">
      <!-- Content Wrapper. Contains page content -->
      <div   class="content-wrapper p-5">
        <!-- Content Header (Page header) -->


            <!-- Main content -->
            <section class="content">                  
              <!-- Default box -->
              <div class="card card-solid">
                  <div class="row d-flex align-items-stretch">

          
                    <!-- بداية  -->
                    <div   class="col-12 p-3">
                        <h3>فاتوره:   {{bill.client}} </h3>
                        <h5>رقم الفاتوره:  {{bill.transaction_id}} </h5>

                        <table class="table table-bordered text-center">
                            <thead>
                              <tr>
                                <th scope="col">المنتج </th>
                                <th scope="col">الكميه</th>
                              
                              </tr>
                            </thead>
                            <tbody>
                              {% for item in items %}
                              <tr>
                                <td>{{item.product}}</td>
                                <td>{{item.qty}}</td>
                                
                              </tr>
                          
    
                              {% endfor %}
    
                            </tbody>
                        </table>

                         
                        <a href="{% url 'products:create-line' bill.id %}" class="btn btn-info">تعديل الفاتوره</a>
                        <a href="{% url 'products:generate_bill' bill.id %}" class="btn btn-info">طباعه الفاتوره</a>

                    </div>
                     <!-- نهاية  -->
                  
                    </div>

  
                <!-- /.card-footer -->
              </div>
              <!-- /.card -->
        
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
        
      </div>
      <!-- /.content-wrapper -->
    </div>


  
{% endblock %}