{% extends 'base.html' %}
{% block content %}


<div style="direction: rtl;" class="wrapper">
  <div   class="content-wrapper p-5">
          <section class="content">                  
            <div class="card card-solid">
                <div class="row d-flex align-items-stretch">
                  <div class="col-12 p-3">
                    <div class="title text-center mb-5"><h2>مكتيه فلاجيو</h2></div>
                    <div class="bill-header">
                     
                      <table class="table-header-info">
                        <tr>
                          <td>اسم العميل: </td>
                          <td>{{bill.client}}</td>
                        </tr>
                        <tr>
                          <td>تاريخ الفاتوره: </td>
                          <td>{{bill.date_ordered}}</td>
                        </tr>
                        <tr>
                          <td>رقم الفاتوره: </td>
                          <td class="disc">{{bill.transaction_id}}</td>
                        </tr>
                      </table>
                    </div>

                  </div>
                  <div class="col-12 p-3">
                    <table class="table table-bordered text-center print_table">
                        <thead>
                            <tr>

                              <th scope="col">م</th>
                              <th scope="col">كود </th>
                              <th scope="col">المنتج </th>
                              <th scope="col">الكميه</th> 
                              <th scope="col">السعر</th> 
                              <th scope="col">المجموع الفرعي</th>
                              
                            </tr>
                          </thead>
                          <tbody>
     
                            {% for line in lines %}
                                <tr>
                                    <td scope="col" class=""> {{ forloop.counter }}</td>
                                    <td scope="col" class="">{{line.product.code}} </td>
                                    <td scope="col" class="">{{line}} </td>
                                    <td scope="col" class="">{{line.qty}}</td>
                                    <td scope="col" class="">{{line.product.price}}</td>
                                    <td scope="col" class="">{{line.get_total}}</td>                
                                </tr>
                            {% endfor %}
                      
                    </tbody>
                    </table>

                    
                  </div>

                  <div   class="col-12 p-3 bill_footer">
                    <div class="total">
                      <h6 class="total-bill"> سعر الفاتوره: {{bill.get_bill_total}}</h6>
                    </div>
                    <div class="remaining">
                      <h6 class="client_remaining"> رصيد ما قبله:  {{bill.remaining_atthattime}}</h6>
                    </div>

                    <div class="total+2">
                      <h6>الاجمالى:  <span class="total2"></span></h6>
                    </div>
                    <div class="paid">
                      <h6>تم دفع:  {{bill.paid}}</h6>
                    </div>
                    <div class="still+">
                      <h6>مازال:  <span class="still"></span></h6>
                    </div>
                  
                    <div class="seller_info"> 
                      <table class="table_seller_info">
                        <tr>
                          <td>إدارة أ/  </td>
                          <td>{{about.name}}</td>
                        </tr>
                        <tr>
                          <td>الهاتف/  </td>
                          
                          {% if about.phone1 %}
                          <td class="disc">{{about.phone1}}</td>
                          {% else %}
                          <td class="disc">{{about.phone2}}</td>
                          {% endif %}
                        </tr>
                        
                        {% if about.phone1 != None %}
                          {% if about.phone2 %}
                          <tr>
                            <td> </td>
                            <td class="disc">{{about.phone2}}</td>
                          </tr>
                          {% endif %}
                        {% endif %}
                      </table>
                    </div>

                  </div>
            

                <div class="col-12 text-center m-2">
                    <button class="btn btn-info print-btn">طباعه الفاتوره</button>
                </div>
                  </div>
            </div>
          </section>
        </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
<script>
    var b_id = "{{bill.id}}";

    $.ajax({
      url:"{% url 'products:live_bill_user_update' %}",
      dataType:"json",
      data:{
        "bill_id":b_id,
      },
      success:function(data){
                  if(data["bill_total"] || data["client_remaining"] || data["bill_paid"] == 0 ){
                  var t2 = parseFloat(data["client_remaining"]) + parseFloat(data["bill_total"]),
                      still = t2 - parseFloat(data["bill_paid"]);
                  $(".total2").text(t2)
                  $(".still").text(still)
                }
                else{
                  var t2 = parseFloat(data["client_remaining"].replace(",",".")) + parseFloat(data["bill_total"].replace(",",".")),
                      still = t2 - parseFloat(data["bill_paid"].replace(",","."));
                  $(".total2").text(t2)
                  $(".still").text(still)
                }
      },
    })
  


    $(".print-btn").on("click" ,function(){
      var bill_state = "{{bill.complete}}"
      if(bill_state==="False"){
        confirmResult = confirm(`
        سيتم تقفيل الفاتوره ؟

        انتبه: 
        فى حاله غلق الفاتوره سيتم تحديث المبلغ المتبفى على العميل تلقائيا
        `)
        if(confirmResult){
          $(this).css("display" , "none")

          $.ajax({
            url:"{% url 'products:end_bill' %}",
            dataType:"json",
            data:{
              "id":b_id,
            },
            success:function(data){
            },
          })
  
          window.print()
          $(this).css("display" , "inline")
          window.location.href = "{% url 'products:create-line' bill.id %}" 
        }

      }
      else{
        $(this).css("display" , "none")

        $.ajax({
          url:"{% url 'products:end_bill' %}",
          dataType:"json",
          data:{
            "id":b_id,
          },
          success:function(data){
          },
        })

        window.print()
        $(this).css("display" , "inline")
        window.location.href = "{% url 'products:create-line' bill.id %}" 
      }



    })


</script>




{% endblock javascript %}