


{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}





    <div style="direction: rtl;" class="wrapper">
      <!-- Content Wrapper. Contains page content -->
      <div   class="content-wrapper p-5">
        <!-- Content Header (Page header) -->
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>منتجات منتهيه الكميه</h1>
          </div>

        </div>

            <!-- Main content -->
            <section class="content">                  
              <!-- Default box -->
              <div class="card card-solid">
                  <div class="row d-flex align-items-stretch">
                    <!-- بداية الكتاب -->
                    <div   class="col-12 p-3">
                        {% if products %}
                        <table class="table table-bordered text-center products_table">
                          <thead>
                            <tr class="products_thead_row">
                             <th scope="col">كود المنتج</th>
                              <th scope="col">اسم المنتج</th>
                              <th scope="col">سعر البيع</th>
                              <th scope="col">الجمله</th>
                              <th scope="col">متوفر</th>
                             
                            </tr> 
                          </thead>
                          <tbody>
                            {% for product in products %}
                            <tr class="products_table_row">
                              <th scope="row" class="product_code"><a class="product_name" href="{{ product.get_absolute_url }}">{{product.code}}</a></th>
                              <td><a class="product_name" href="{{ product.get_absolute_url }}">{{product}}</a></td>
                              <td><a class="product_name" href="{{ product.get_absolute_url }}">{{product.price}}</a></td>
                              <td><a class="product_name" href="{{ product.get_absolute_url }}">{{product.wholesale_price}}</a></td>
                              <td><a class="product_name" href="{{ product.get_absolute_url }}">{{product.available_in_ventory}}</a></td>

                            </tr>
  
                            {% endfor %}
  
                          </tbody>
                        </table>
  
  
                      </div>
                      {% else %}
                      <h4 class="m-5">لا توجد منتجات منتهيه الكميه .</h4>
                      {% endif %}
                       <!-- نهاية الكتاب -->
                  
                    </div>
                
                  
  
                <!-- /.card-footer -->
              </div>
              <!-- /.card -->
        
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
        
      </div>
      <!-- /.content-wrapper -->
    </div>
  
{% endblock %}


{% block javascript %}

{% endblock javascript %}