{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- 
<style>
  .report-row{
    background: #f4f6f9;

  }
  .green-text{
    color: #00ff00;
  }
  .danger-text{
    color: #ffbe10;
  }
</style> 
-->
<div style="direction: rtl;" class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div   class="content-wrapper p-5">
    <!-- Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">                  
          <!-- Default box -->
          <div class="card card-solid">
              <div class="row d-flex align-items-stretch">

      
                <!-- بداية  -->
                <div   class="col-12 p-3">


        <div class="container-fluid">
          <div class="row ">
            <div class="col-lg-6">
              <div class="card home-card h-95">
                <!-- <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">اجمالي عدد الكتب</h3>                    
                  </div>
                </div> -->
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                     <strong> <span>اجمالي عدد الاصناف </span></strong>
                      <span class="text-bold text-lg">{{products_count}}</span>
                    </p>  
                  </div>
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <strong>  <span> المنتجات المتوفره فى المخزن</span></strong>
                      <span class="text-bold text-lg">{{inventory_products_count}}</span>
                    </p>  
                  </div>
                  <!-- <div class="d-flex">
                    <p class="d-flex flex-column green-text">
                      <strong><span> المنتجات المباعه ( تم البيع )</span></strong> 
                      <span class="text-bold text-lg">{{real_sold}} </span>                     
                    </p>  
                  </div>
                  <div class="d-flex">
                    <p class="d-flex flex-column danger-text">
                      <strong><span> المنتجات المباعه ( على وشك البيع )</span></strong> 
                      <span class="text-bold text-lg">{{fake_sold}}</span>                     
                    </p>  
                  </div> -->
                  <!-- /.d-flex -->

                  
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            
            <div class="col-lg-6">
              <!-- <div class="card home-card h-95">   
                <div class="card-body">
                  
                  <div class="d-flex">
                    <p class="d-flex flex-column green-text">
                      <strong>  <span> الارباح الحقيقه</span></strong>
                      <span id="totalsalarys" class="text-bold text-lg">{{real_benefits}}</span><br></p>
                  </div>
                  <div class="d-flex">
                    <p class="d-flex flex-column danger-text">
                      <strong>  <span> الارباح المعلقه</span></strong>
                      <span id="totalsalarys" class="text-bold text-lg">{{fake_benefits}}</span><br></p>
                  </div>
  
                </div>
              </div> -->
            </div>

          </div>
  
          </div>

        </div>
       </div>
 </div>

</section>

</div>


</div>
<!-- /.content-wrapper -->
</div>
    {% endblock %}